<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-4"><img src="assets/image/shampoo/01Oatmeal Soothing Shampoo_.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-8">
            <p class="h2">
                <span style='color: #2daaad'>แชมพูสำหรับสุนัขเพื่อความหอมผ่อนคลาย</span>
            </p>


            

                    <span style='border:2px #2daaad solid; 
                border-radius: 25px; 
                font-size:32px;
                color: white;
                background: #2daaad;
                '
                > OATMEAL SOOTHING SHAMPOO </span>

            <p>
                TOUCHPAW Oatmeal Soothing Shampoo is made with active
                oatmeal to provide natural relief for flea bite dermatitis, itchy,
                dry or scaling skin. This exceptional shampoo cleans the skin
                and coat in a gentle way without any side effects, safe to use
                monthly with flea and tick spot-on products.

            </p>

            <p>
                ขนาด : 600 ml </br>
                บาร์โค้ด(ขวด) : 8857125475174</br>
                บาร์โค้ด(กล่อง) : 18857125 475171</br>
                ราคาขายปลีกแนะนำ/ขวด : 390 บาท
            </p>
    </div>
</div>
