<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-3"><img src="assets/image/pet_food/orange.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-5">
            <span style=' font-size:26px;color: #f26122;'> เนื้อปลาแซลมอนอบแห้ง </span></br>
            <span style=' font-size:18px;color: #f26122;'> SALMON MEAT DEHYDRATED </span></br></br>
                <p>
                    เนื้อปลาแซลมอนอุมไปด้วยกรดไขมันโอเมก้า 3, กรด EPA และกรด DHA
                    เป็นกรดไขมันจำเป็นของเซลล์สมอง ซึ่งไขมันดีมีประโยชน์ต่อระบบหัวใจ และ
                    หลอดเลือด วิตามิน A,E ช่วยให้เส้นขนเงางามเป็นประกาย EPA ช่วยรักษา
                    โรคข้อกระดูก และข้อต่อต่าง ๆ อักเสบ
                </p>
                <p>
                    ขนาด : 40/80 กรัม </br>
                    บาร์โค้ด(ซอง) : 8857125475099 (ซองเล็ก), 8857125475051 (ซองใหญ่)</br>
                    บาร์โค้ด(กล่อง) : 18857125475096 (ซองเล็ก 12 ซอง), 18857125475058 (ซองใหญ่ 8 ซอง)</br>
                    ราคาขายปลีกแนะนำ/ซอง : 50 กรัม 59 บาท, 100 กรัม 99 บาท
                </p>
    </div>
    <div class="col-sm-3"><img src="assets/image/pet_food/orange_icon_dtl.jpg" class="img-thumbnail" alt="..."></div>   
</div>
