<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-3"><img src="assets/image/pet_food/purple.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-5">
            <span style=' font-size:26px;color: #76256c;'> หนังปลาแซลมอนอบแห้ง </span></br>
            <span style=' font-size:18px;color: #76256c;'> SALMON SKIN DEHYDRATED</span></br></br>
                <p>
                    หนังปลาแซลมอนมีโอเมก้า 3 6 9 ช่วยให้สมองทำงานอย่างมีประสิทธิภาพ
                    เพิ่มความสามารถในการจดจำ นอกจากนั้นวิตามินเอในปลาแซลมอน
                    เมื่อทำงานร่วมกับกรดอะมิโนจะช่วยป้องกันความเสื่อมของระบบประสาท
                    เมื่ออายุเพิ่มมากขึ้น
                </p>
                <p>
                    ขนาด : 40/80 กรัม </br>
                    บาร์โค้ด(ซอง) : 8857125475105 (ซองเล็ก), 8857125475068 (ซองใหญ่)</br>
                    บาร์โค้ด(กล่อง) : 18857125475102 (ซองเล็ก 12 ซอง), 18857125475065 (ซองใหญ่ 8 ซอง)</br>
                    ราคาขายปลีกแนะนำ/ซอง : 40 กรัม 79 บาท, 80 กรัม 149 บาท
                </p>
    </div>
    <div class="col-sm-3"><img src="assets/image/pet_food/purple_icon_dtl.jpg" class="img-thumbnail" alt="..."></div>   
</div>
    