<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-4"><img src="assets/image/shampoo/02Sensitive Skin Pets Shampoo_.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-8">
            <p class="h2">
                <!-- <span style='color: #9ccb3b'>แชมพูสำหรับสุนัขผิวบอบบางแพ้ง่าย</style> -->
                <span style='color: #9ccb3b'>แชมพูสำหรับสุนัขผิวบอบบางแพ้ง่าย</style>
            </p>

            <p>
                <span style='border:2px #9ccb3b solid; 
                border-radius: 25px; 
                font-size:32px;
                color: white;
                background: #9ccb3b;
                '
                > SENSITIVE SKINK PETS SHAMPOO </span></h1>        
            </p>

            <p>
                A hypo-allergenic shampoo specially formulated for temporary</br>relief of itching associated with minor skin irritations, inflammation</br> and rashes. Soothes and restores your pet's coat and skin to its</br>
                natural condition. The smae pH value as the skin can restores</br>
                the skin's natural acid protection against bacteria and fungi.
                .

            </p>

            <p>
                ขนาด : 600 ml </br>
                บาร์โค้ด(ขวด) : 8857125475150</br>
                บาร์โค้ด(กล่อง) : 18857125 475157</br>
                ราคาขายปลีกแนะนำ/ขวด : 390 บาท
            </p>
    </div>
</div>
