<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-4"><img src="assets/image/shampoo/shaggy_shampoo.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-8">
            <p class="h2">
                <span style='color: #ee7c26'> แชมพูสำหรับสุนัขขนสีขาว </span>
            </p>

                <span style='border:2px #ee7c26 solid; 
                border-radius: 25px; 
                font-size:32px;
                color: white;
                background: #ee7c26;
                '
            > SHAGGY COAT PETS SHAMPOO </span>
            

            <p>
            Smoothes and moisturizes pet's long coat. The gentel cleansing</br>
            and moisturizing formula afford your pet rich nutrients deeply</br>
            from hair roots to ends. Let pet's long coat soft and smooth.

            </p>

            <p>
                ขนาด : 600 ml </br>
                บาร์โค้ด(ขวด) : 8857125475167</br>
                บาร์โค้ด(กล่อง) : 18857125 475164</br>
                ราคาขายปลีกแนะนำ/ขวด : 390 บาท
            </p>
    </div>
</div>
