<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-3"><img src="assets/image/pet_food/blue.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-5">
            <span style=' font-size:26px;color: #104c90;'> กระดูกปลาฉลามพันเนื้อปลาแซลมอน </span></br>
            <span style=' font-size:26px;color: #104c90;'> SHARK CARTILAGE WITH SALMON MEAT</span></br></br>
                <p>
                    กระดูกอ่อนปลาฉลาม (Shark Cartilage) ประกอบไปด้วยแคลเซียม
                    และฟอสฟอรัส ที่มีประโยชน์ทำให้กระดูกและฟันของสุนัขแข็งแรง
                    มีสารคอนดรอยตินที่มีสูงถึง 80% มีคุณสมบัติที่เหมาะสมต่อ
                    การเสริมสร้างกระดูก ชะลอการเสื่อม
                </p>
                <p>
                    ขนาด : 50/100 กรัม </br>
                    บาร์โค้ด(ซอง) : 8857125475129 (ซองเล็ก), 8857125475044 (ซองใหญ่)</br>
                    บาร์โค้ด(กล่อง) : 18857125475126 (ซองเล็ก 12 ซอง), 18857125475041 (ซองใหญ่ 8 ซอง)</br>
                    ราคาขายปลีกแนะนำ/ซอง : 50 กรัม 59 บาท, 100 กรัม 99 บาท
                </p>
    </div>
    <div class="col-sm-3"><img src="assets/image/pet_food/blue_icon_dtl.jpg" class="img-thumbnail" alt="..."></div>   
</div>
