<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-3"><img src="assets/image/pet_food/green.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-5">
            <span style=' font-size:26px;color: #45b549;'> กระดูกปลาฉลามพันหนังปลาแซลมอน </span></br>
            <span style=' font-size:26px;color: #45b549;'> SHARK CARTILAGE WITH SALMON SKIN</span></br></br>
                <p>
                    สรรพคุณที่ดีอย่างเด่นชัดอีกประการหนึ่ง คือเรื่องข้อและกระดูก เช่น
                    โรคข้อเสื่อม ข้ออักเสบ เพราะองค์ประกอบหลักของกระดูกอ่อนปลาฉลามคือ
                    คอนดรอยติน (Condroitin) มีส่วนของโปรตีนคอลลาเจนชนิดที่ 1 2 และ
                    สารในกลุ่มไกลโคสะมีโนไกลแคน ที่ช่วยรักษาข้อเสื่อม

                </p>
                <p>
                    ขนาด : 50/100 กรัม </br>
                    บาร์โค้ด(ซอง) : 8857125475112 (ซองเล็ก), 8857125475037 (ซองใหญ่)</br>
                    บาร์โค้ด(กล่อง) : 18857125475119 (ซองเล็ก 12 ซอง), 18857125475034 (ซองใหญ่ 8 ซอง)</br>
                    ราคาขายปลีกแนะนำ/ซอง : 50 กรัม 59 บาท, 100 กรัม 99 บาท
                </p>
    </div>
    <div class="col-sm-3"><img src="assets/image/pet_food/green_icon_dtl.jpg" class="img-thumbnail" alt="..."></div>   
</div>