<hr class="featurette-divider">
<div class="row">
    <div class="col-sm-4"><img src="assets/image/shampoo/03White&Bright Coat Pets Shampoo_.jpg" class="img-thumbnail" alt="..."></div>
    <div class="col-sm-8">
            <p class="h2">
                <span style='color: #41a6dd'>แชมพูสำหรับสุนัขขนสีขาว</span>
            </p>

            <span style='border:2px #41a6dd solid; 
                border-radius: 25px; 
                font-size:32px;
                color: white;
                background: #41a6dd;
                '
            > WHITE&BRIGHT COAT PETS SHAMPOO </span>
            

            <p>
            A gentle specially formulated to removes yellow discoloration</br>
            away safely and enhance the natural brilliance of white and</br>
            light coats. The shampoo will leave your pet's coat clean,</br>
            fresh and naturally shiny. Completely safe and contains no</br>
            bleaching agents. Can be used on puppies.

            </p>

            <p>
                ขนาด : 600 ml </br>
                บาร์โค้ด(ขวด) : 8857125475143</br>
                บาร์โค้ด(กล่อง) : 18857125 475140</br>
                ราคาขายปลีกแนะนำ/ขวด : 390 บาท
            </p>
    </div>
</div>
