



<div class="container-fluid">
	<!-- FOOTER -->
	<footer>
		<p class="float-right" id="go-to-top"><a href="#">Back to top</a></p>
		<p>&copy; 2018 Oeye Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</div>
