

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Oeye</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ผลิตภัณฑ์ของเรา
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item disabled" href="winsang.html">ยากันยุง</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">ยากันยุงสำหรับสัตว์เลี้ยง</a>
                                <a class="dropdown-item" href="product.html">อาหารสุนัข</a>
                                <a class="dropdown-item" href="product_shampoo.html">แชมพูสำหรับสุนัข</a>
                            </div>
                            </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#aboutus">เกี่ยวกับเรา</a>
                        </li>
                </ul>
                <!-- <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>

</header>
